server {
    listen 80 default_server;
    listen [::]:80 default_server;

    server_name _;
    return 444;
}

server {
    listen 80;
    listen [::]:80;
    listen 443 ssl;
    listen [::]:443 ssl;

    ssl_certificate /home/USER/starter-app/etc/ssl/CERTIFICATE.crt;
    ssl_certificate_key /home/USER/starter-app/etc/ssl/CERT_PRIVATE_KEY.key;

    root /home/USER/starter-app/src/www/frontend;
    index index.php index.html index.htm;

    server_name DOMAIN.TLD;
    if ($host != "DOMAIN.TLD") {
        return 403;
    }

    location / {
        try_files $uri $uri/ =404;
    }

    location ~ \.php$ {
        include snippets/fastcgi-php.conf;
        fastcgi_pass unix:/run/php/php7.2-fpm.sock;
    }

    location ~ /\.ht {
        deny all;
    }
}